<h1>Question</h1>


<p><%= @question.title %></p>

<p><%=@question.comment%></p>

<p>Created at <%=@time%></p>





<%=link_to 'Delete',@question, method: :delete, data: { confirm: "Are you sure?"}%>
<%=link_to 'Edit', edit_question_path(@question.id)%>


<%= form_for @answer, html: {class: ''} do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :discription, 'Comment' %>
  <%= f.text_area :discription, size: "60x6" %>

  <%= f.hidden_field :question_id, value: @question.id%>

  <%= f.submit "Submit", class: 'button submit-button' %>
<% end %>

<br>

<%@answers.each do |answer|%>
<br><%= answer.title%><br>
<%= answer.discription%><br>
<%=link_to 'Delete', answer, method: :delete%>
<%end%>
